html {
  font-family: "Gill Sans", sans-serif;
  overflow-x: hidden;
}
html,
body {
  margin: 0;
  height: 100%;
  color: white;
}
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  background: #131213;
  background: linear-gradient(
    180deg,
    rgba(112, 8, 128, 1) 0%,
    rgba(0, 146, 224, 1) 50%,
    rgba(0, 94, 140, 1) 100%
  );
  /* height: 100%; */
  text-align: center;
}
.topnav {
  position: sticky;
  top: 0;
  background-color: black;
  border-bottom: 3px solid white;
  z-index: 1000;
  width: 100%;
  transition: background-color 0.7s ease;
}

.topnav a {
  float: left;
  color: white;
  font-size: 35px;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav-right {
  position: absolute;
  right: 0;
  top: 0;
}
.topnav.gray-background {
  background-color: #4c5760;
}
