<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Deck builder tool</title>
    <link rel="stylesheet" href=static/stylesheet.css>
  </head>
  <body>
    <div class="topnav">
      <a href="/templates/index.html"> Home </a>
      <a href="/templates/decklist.html"> Deck Builder </a>
      <a href="/templates/cardindex.html">Card Search</a>
      <a href="/templates/about.html">About</a>
      <a href="/templates/login.html">Login</a>
      <a href="/templates/signup.html">Sign Up</a>
    </div>
    <div class="aboutheaders">
      <h1>About our tool</h1>
      <h2>
        Our website offers an intuitive and fun way to put together Magic the
        Gathering commander decks.
      </h2>
    </div>
  </body>
</html>
