<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Deck builder tool</title>
    <link rel="stylesheet" href=/static/css/stylesheet.css>
    <script src="app.tsx"></script>
  </head>
  <body>
    <div class="topnav">
      <a href="/templates/index.html"> Home </a>
      <a href="/templates/decklist.html"> Deck Builder </a>
      <a href="/templates/cardindex.html">Card Search</a>
      <a href="/templates/about.html">About</a>
      <a href="/templates/login.html">Login</a>
      <a href="/templates/signup.html">Sign Up</a>
    </div>
    <div class="aboutheaders">
      <h1>About our tool</h1>
      <h2>
        Our website offers an intuitive and fun way to put together Magic the
        Gathering commander decks.
        <br />
        Search for cards and create your deck, then view your saved decks. All
        in one place
      </h2>
      <img src="/static/images/image4.JPG" />
    </div>
    <footer>
      <div class="footer-container">
        <div class="footer">
          <a href="/templates/about.html">About Us</a>
          <br />
          <br />
        </div>
      </div>
    </footer>
  </body>
</html>
