<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Deck builder tool</title>
    <link rel="stylesheet" href=/static/css/stylesheet.css>
    <script src="app.tsx"></script>
  </head>
    <div class="topnav">
      <a href="/templates/index.html"> Home </a>
      <a href="/templates/decklist.html"> Deck Builder </a>
      <a href="/templates/cardindex.html">Card Search</a>
      <a href="/templates/about.html">About</a>
      <a href="/templates/login.html">Login</a>
      <a href="/templates/signup.html">Sign Up</a>
    </div>
    <div class="hero">
      <div class="hero_container">
        <div class="hero_content">
          <h1>Build your next deck</h1>
          <ul class="flashes"></ul>
          <h2>Create and share your deck lists</h2>
          <p>Trade like never before</p>
          <button class="hero_button">
            <a href="/templates/signup.html">Get Started</a>
          </button>
        </div>
        <div class="hero_img--container">
          <img
            src="/static/images/image5.jpg "
            alt="Hero Photo"
            id="main_img"
            width="700px"
            height="500px"
          />
        </div>
      </div>
    </div>

    <h1>Tool for building Magic the Gathering commander decks!</h1>
    <div class="landingImage">
      <img
        src="/static/images/image1.jpg"
        alt="Magic lands"
        style="height: 700px; width: 1000px"
      />
      <p>-Photo by: Ryan Quintal</p>
    </div>
  </body>
</html>
