<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Deck builder tool</title>
    <link rel="stylesheet" href=/static/css/stylesheet.css>
    <script src="app.tsx"></script>
  </head>
  <body class="altbody">
    <div class="topnav">
      <a href="/templates/index.html"> Home </a>
      <a href="/templates/decklist.html"> Deck Builder </a>
      <a href="/templates/cardindex.html">Card Search</a>
      <a href="/templates/about.html">About</a>
      <a href="/templates/login.html">Login</a>
      <a href="/templates/signup.html">Sign Up</a>
    </div>
    <div class="wrapper">
      <div class="main-content"></div>
    </div>
    <div class="loginimage">
      <img src="/static/images/image6.jpg" height="500px" >
    </div>
    <div class="accounts">
      <form action="">
        <h1>Login</h1>
  <div class="form-container">
	<p class="title">Login</p>
	<form class="form">
		<div class="input-group">
			<label for="username">Username</label>
			<input type="text" name="username" id="username" placeholder="">
		</div>
		<div class="input-group">
			<label for="password">Password</label>
			<input type="password" name="password" id="password" placeholder="">
			<div class="forgot">
				<a rel="noopener noreferrer" href="#">Forgot Password ?</a>
			</div>
		</div>
		<button class="sign">Sign in</button>
    <p class="signup">Don't have an account?</p>
		<a rel="noopener noreferrer" href="/templates/signup.html" class="rerouting">Sign up</a>
	</p>
	</form>
		
	</div>
	
	</div>
	
  </div>
    <footer>
    <div class="footer-container">
      <div class="footer">
        <a href="/templates/about.html">About Us</a>
        <br>
        <br>
      </div>
    </div>
    </footer>
  </body>
  
</html>
